<div class="container" style="margin-left:40%">

<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		
		<div class="card-text">
			<form (ngSubmit)="resetPassword()" >
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>My Swachta App</strong> You should check in on some of those fields below.
  <a class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Your email address</label>
    <input [(ngModel)]="this.user.email" name="email" type="email" class="form-control form-control-sm">
</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Your new password</label>
					<input type="password"  [(ngModel)]="this.user.password" name="password" class="form-control form-control-sm">
				</div>
				
				<button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
			</form>
		</div>
	</div>
</div>
</div>